/*--------------------------------------------------*/
/* Section below works for full size window         */
/*--------------------------------------------------*/

/* Background */
body {
    background-color: #89A894;
}

/* Front Page Title */
h1 {
    color: #ADFCF9;
    text-align: center;
    font: bold 100px helvetica;
    display: block;
    top: 40px;
    margin-top: 200px;
    text-shadow: 2px 2px 5px black;
}

li a.nav-link {
    display: block;
    color: #ADFCF9;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }

/* Navigation Hover */
li a.nav-link:hover {
    background-color: #ccc9dc; 
    font-weight: bold;
  }

ul.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*Fixes to top of page*/
    top: 0;
    left:0;
    width: 100%;
    position: fixed;

}

/* Creater Photos */
li img {
    
  display: block;
  margin: 50px;
  width: 300px;
  height: 300px;
}


 /* Creater Image Captions */
 li span {
  display: flex;
  float: right;
}

/*Creator Image Titles */
li h3 {
  display: flex;
  float: right;
  padding: 100px;
  text-align: right;
  font: bold 35px helvetica;

}

.Creaters {
  columns: 1;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

/*--------------------------------------------------*/
/* Section below only works when the window         */
/* size is less than medium                         */
/*--------------------------------------------------*/

@media screen and (max-width: 991px) {
  ul {
    width: 50%;
  }

  /*
  .toggleMobileMenu {

  }
  */

  .Creators {
    columns: 1;
    list-style-type: none;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 50px;
  }

  /* Creater Photos */
  li img {
    
    display: block;
    width: 300px;
    height: 300px;
    background-color:#fd34ac;
    border-style: inset;
  }

  li img:hover {
    border-style: outset;
  }

  /* Creater Image Captions */
  li span {
    display: block;
    text-align: center;
  }

  /*Creator Image Titles */
  li h3 {
    display: block;
    text-align: center;
    font: bold 35px helvetica;
  }

  .caption {
    display: block;
  }

}