ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
    overflow: hidden;
    background-color: #a03535;

    /*Fixes to top of page*/
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;

}

li {
    float: right;
  }


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: rgb(135, 138, 136);
  }


h1 {
    color: blueviolet;
    text-align: center;
    font: bold 100px helvetica;
    display: block;
    top: 40px;
    margin-top: 200px;

}

body {
    background-image: url("/Images/TryTwo.jpg");
    background-position: 0px 200px;
    background-size: 100%;
}

img #menuIcon {
    height: 10%;
    width: 10%;
    
}

img #menuIcon:hover {
   color: coral;
    
}